wcf-assignment1/WCF Application Console/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60190/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60190/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_primeNo_InputMessage">
    <wsdl:part name="parameters" element="tns:primeNo" />
  </wsdl:message>
  <wsdl:message name="IService1_primeNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:primeNoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sumOfDigit_InputMessage">
    <wsdl:part name="parameters" element="tns:sumOfDigit" />
  </wsdl:message>
  <wsdl:message name="IService1_sumOfDigit_OutputMessage">
    <wsdl:part name="parameters" element="tns:sumOfDigitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:reverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_reverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:reverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_htmlTags_InputMessage">
    <wsdl:part name="parameters" element="tns:htmlTags" />
  </wsdl:message>
  <wsdl:message name="IService1_htmlTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:htmlTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sortFiveNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:sortFiveNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_sortFiveNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortFiveNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="primeNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/primeNo" message="tns:IService1_primeNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/primeNoResponse" message="tns:IService1_primeNo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sumOfDigit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sumOfDigit" message="tns:IService1_sumOfDigit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sumOfDigitResponse" message="tns:IService1_sumOfDigit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reverseString" message="tns:IService1_reverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reverseStringResponse" message="tns:IService1_reverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="htmlTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/htmlTags" message="tns:IService1_htmlTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/htmlTagsResponse" message="tns:IService1_htmlTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortFiveNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sortFiveNumbers" message="tns:IService1_sortFiveNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sortFiveNumbersResponse" message="tns:IService1_sortFiveNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="primeNo">
      <soap:operation soapAction="http://tempuri.org/IService1/primeNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumOfDigit">
      <soap:operation soapAction="http://tempuri.org/IService1/sumOfDigit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/reverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="htmlTags">
      <soap:operation soapAction="http://tempuri.org/IService1/htmlTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortFiveNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/sortFiveNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60190/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>