wcf-assignment1/WCF Application Console/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="primeNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="primeNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumOfDigit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumOfDigitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumOfDigitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="htmlTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueTag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="htmlData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="htmlTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="htmlTagsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortFiveNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortAscDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortingNumbers" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortFiveNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortFiveNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>